html {
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;

}

body {
    margin-left: 0%;
    color: #3d9bc2;

}

#header-name {
  position: relative;
  display: flex;
  justify-content: left;
  left: 30px;
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  align-self: center;
  color: #003262;

}
#logo {
  margin: 0.938em 0.938em 0.938em 1.875em;
  position: relative;
  display: flex;
  justify-content: flex-start;
  left: 15%;
  width: 70%;
  height: auto;
}
#header {
/*    Fixed header and sidebar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #FAF2C5;
  height: 6.25em;
  width: 100%;
  top: 0;
  z-index: 5;
  padding-right: 2em;
  /* margin-bottom: 10px; */
}

/* .right-shift {
  position: relative;
  display: flex;
  left: 45%;
  align-items: center;
  font-family: Patua One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.563em;
  line-height: 2.313em;
  color: #003262;
  margin: 15px;
  text-decoration: none;
} */
/* .right-shift:hover{
  color: #A2E1F5;
} */

.right-shift2 {
  /* text-align: right; */
  /* display: flex;
  flex-wrap:wrap;
  flex-direction:row; */
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
  /* align-items: center;  */
  /* justify-content: flex-end; */

}

.right-shift2 a {

  font-family: Patua One;
  font-style: normal;
  font-weight: normal;
  font-size: 1.563em;
  line-height: 2.313em;
  color: #003262;
  margin: 15px;
  text-decoration: none;
}
.right-shift2 a:hover{
  color: #A2E1F5;
}

.right-shift3 {
  /* text-align: right; */
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  word-wrap: break-word;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: flex-start;
  /* float: left; */

}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 280px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #F6D9AD; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 100px 30px 30px 30px;

}

  /* The navigation menu links */
.sidenav a {
    padding: 0px 18px 0px 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    color: #635B5B;
    display: block;
}
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #fdfdfd;
    background-color: #E7B873;
}


.side_subheadings{
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    color: #635B5B;
    display: block;
}

.side_title {
    background-color: #E7B873;
    width: 100%;
    border: 15px;
    padding: 5px 5px 5px 10px;;
    margin: 25px 0px 15px 0px;
    font-family: 'Patua One', cursive;
    color: #FAF2C5;
    font-size: 28px;
}


/* responsive siderbar details */

/* Active/current link */
/* .sidenav a.active {
  background-color: #4CAF50;
  color: white;
} */

/* Links on mouse-over */
/* .sidenav a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

/* search bar */

* {
    box-sizing: border-box;
  }

  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    border: 1px solid #CDCDCD;
    border-right: none;
    float: left;
    width: 85%;
    height: 30px;
    background: #F8F0E4;
    color: #d4d4d4;
    font-family: 'Mukta', sans-serif;

  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B6B6B6;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B6B6B6;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #B6B6B6;
  }

  /* Style the submit button */
  form.example button {
    float: left;
    width: 15%;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    background: #e6a33e;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }

  form.example button:hover {
    background: #c78727;
  }

  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


/* filter buttons */

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 5px 0px 5px 0px;
    color: #635B5B;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #f3eed2;
    margin: 5px;

  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #FAF2C5;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #e6a33e;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5.5px;
    top: 3px;
    width: 2px;
    height: 5px;
    border: solid white ;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* Solid border for divider */
hr.solid {
    border-top: 0.1em solid #FAF2C5;
    width:100%;
    margin: 10px 0px 10px 0px;
}

  /* Style page content */
.main {
    /* margin-left: 280px; Same as the width of the sidebar
    padding: 0px 10px; */
    padding-right: 200px;
    margin-left: 21em; /* Same as the width of the sidebar */
    margin-top: 100px;
    /* padding: 0px 10px; */
    padding-bottom: 75px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; */
}

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



/* log out button */

input[type=submit].button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.2em solid #e6a33e;
    margin:1em 2em 0.5em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    background-color: #F6D9AD;
    font-family: 'Mukta', sans-serif;
    font-weight:900;
    color:#e6a33e;
    text-align:center;
    transition: all 0.2s;
    font-size: 18px;
    }
input[type=submit].button1:hover{
    color:#000000;
    font-weight:120000;
    background-color:#FFFFFF;
    border:0.2em solid #FFFFFF;
    }
@media all and (max-width:30em){
    input[type=submit].button1{
    display:block;
    margin:0.4em auto;
    }
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f7e9d5;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#ebc388;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e6a33e;
  }


.content {
    /* display: flex;
    flex-direction: row;
    align-items: center; */

    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: center;
    font-family: 'Mukta', sans-serif;
    color: black;
    /* position: absolute; */


}

.content #post {
    font-size: 18px;
    justify-content: center;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    /* flex:auto auto auto; */
    width: 350px;
    /* width: 350px; */
    border: 25px solid #FAF2C5;
    background-color: #FFFDF2;
    margin: 0px 50px 30px 30px;
    padding: 20px;
    color: black;
}

.content #post-header{
    font-size: 18px;
    justify-content: center;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    /* flex:auto auto auto; */
    width: 350px;

    margin: 50px 50px 0px 30px;
    text-align: right;
    /* width: 350px; */

    background-color: #A2E1F5;

    padding: 15px 25px 15px 10px;

    color: #003262;
}

.content #post-header a{
    padding: 5px;
    text-decoration: underline;
    text-decoration-color: #5f9fdb;
    color: #003262;
    font-weight: 700;
}

.content #post-header img{
    float: left;
    height: 30px;
    width: auto;
    padding-left:10px;
}

.content #rectangle{
    width:350px;
    height: 300px;
    margin-left: 50px;
    background:#003262;
    position:relative;

}


/* Section 1 */
.section1 {
  color: #635B5B;
  font-size: 18px;
  font-family: 'Mukta', sans-serif;

}

.account {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.account #profile-pic {
    /* width: 30%;
    height: auto;
    border-radius: 50%; */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
    margin-top: 15px;
}

.main #title {
    font-weight: 600;
    padding: 5px 5px 5px 10px;;
    margin: 0px 0px 0px 0px;
    text-decoration: underline;
    font-family: 'Patua One', cursive;
    color: #003262;
    font-size: 40px;
}

.account #info {
  display: flex;
  flex-direction: column;

  margin: 15px 15px 15px 20px;
  padding: 5px;

}

.account #username {
  font-size:25px;
}

.account #info a{
  text-decoration: underline;
  text-decoration-color: #5f9fdb;
  color: #003262;
  font-weight: 700;

}

/* inputting info */

input[type=text], select {
  width: 300px;
  height: 35px;
  padding: 12px 10px;
  margin: 15px 15px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #635B5B;
  font-size: 15px;
  font-family: 'Mukta', sans-serif;
}



input[type=text]:focus {
  border: 3px solid #555;
}

form {
  margin-left: 15px;

}

.form-box {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-auto-rows: 50px;

  margin-right: 680px;
}

.form-box #address{
  width: 600px;
}

.form-box #gender{
  padding: 0px;
  padding-left: 5px;
}
/* submit button */

input[type=submit].button2{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.2em solid #003262;
  margin:2em 2em 2em 0.7em;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  background-color: white;
  font-family: 'Mukta', sans-serif;
  font-weight:900;
  color:#003262;
  text-align:center;
  transition: all 0.2s;
  font-size: 18px;
  }
input[type=submit].button2:hover{
  color:#ffffff;
  font-weight:120000;
  background-color:#A2E1F5;
  border:0.2em solid #A2E1F5;
  }
@media all and (max-width:30em){
  a.button2{
  display:block;
  margin:0.4em auto;
  }
}

.form-box2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);

  grid-auto-rows: 50px;
  align-items: center;
  /* grid-auto-rows: 60px; */
  margin-top: 15px;
  margin-right: 760px;
  line-height: 1;
}

/* contact us form */

/* input[type=submit] {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.2em solid #003262;
  margin:1em 2em 0.5em 0.7em;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 18px;
  font-family: 'Mukta', sans-serif;
  font-weight:900;
  color:#003262;
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: white;
}

input[type=submit]:hover {
  color:#ffffff;
  font-weight:120000;
  background-color:#A2E1F5;
  border:0.2em solid #A2E1F5;
} */

.container2 {

  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 50px 20px 50px;
  width: 850px;
  margin-right: 100px;
  margin-top: 20px;
}

.form-box3 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* align-items: center; */
  /* grid-auto-rows: 60px; */
  grid-gap: 1px;
  margin-top: 15px;
  margin-right: 680px;
  line-height: 1;
}

/* .form-box3 #message textarea{
  align-items: start;

} */

.form-box3 #message {
  width: 600px;
  height: 35px;
  padding: 12px 10px;
  margin: 15px 15px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #635B5B;
  font-size: 15px;
  font-family: 'Mukta', sans-serif;

}

.form-box3 select{
  padding: 0px;
  padding-left: 5px;
  /* padding-top: 3px; */

}

.form-box3 #message-label {
  margin-top: 23px;
}

input[type=submit].button3{
  display: inline;
  padding:0.35em 1.2em;
  border:0.2em solid #003262;
  margin:1em 0.8em 1em 0.7em;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  background-color: white;
  font-family: 'Mukta', sans-serif;
  font-weight:900;
  color:#003262;
  text-align:center;
  transition: all 0.2s;
  font-size: 18px;
  float: right;
  }
input[type=submit].button3:hover{
  color:#ffffff;
  font-weight:120000;
  background-color:#A2E1F5;
  border:0.2em solid #A2E1F5;
  }
@media all and (max-width:30em){
  a.button3{
  display:block;
  margin:0.4em auto;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}




/* @media */

@media only screen and (max-width: 650px) {
    .section1 {
        display: flex;
        flex-direction: column;
    }

}